Introduction

Import statements

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

Load the 2020 data set and the reference files.

In [2]:
a = pd.read_csv("data/2020/2020data.csv")
b = pd.read_csv('data/2020/2020datasimp.csv')
c = pd.read_csv('data/2020/2020gpskey-cleaned.csv')

print(a.columns)
print(b.columns)
print(c.columns)

Index(['id', 'obs', 'place', 'date', 'time', 'sci', 'name', 'notes'], dtype='object')
Index(['place', 'date', 'time', 'sci', 'name'], dtype='object')
Index(['Longitude', 'Lattitude', 'Location'], dtype='object')

In [3]:
c.rename(columns={'Longitude':'lon', 'Latitude':'lat', 'Location':'place'}, inplace=True)

In [4]:
a.iloc[:5]

,id,obs,place,date,time,sci,name,notes
0,02777507-6356-5477-92eb-6d7aea343265,NaN,alleestrasse 1,2020-09-02,11:09:04 AM,plantago lanceolata,plantain lancéolé,NaN
1,fd359c20-af7c-5560-b412-56bfbbd154e3,NaN,alleestrasse 1,2020-09-02,11:08:19 AM,centaurea nigra,centaurée noire,could be jaucee
2,469cc29c-f377-5312-ba11-f222ca888cec,NaN,alleestrasse 1,2020-09-02,11:06:59 AM,plantago media,plantain moyen,NaN
3,c7613f5f-b22d-5b51-832f-06cb61bc4128,NaN,alleestrasse 1,2020-09-02,11:06:05 AM,chenopodium album agg.,chénopode blanc,NaN
4,9bba2690-f7a5-54b4-bd74-74fd056ccb3a,NaN,alleestrasse 1,2020-09-02,11:05:18 AM,centaurea jacea agg.,centaurée jacée,NaN

In [5]:
b.iloc[:5]

,place,date,time,sci,name
0,alleestrasse 1,2020-09-02,11:09:04 AM,plantago lanceolata,plantain lancéolé
1,alleestrasse 1,2020-09-02,11:08:19 AM,centaurea nigra,centaurée noire
2,alleestrasse 1,2020-09-02,11:06:59 AM,plantago media,plantain moyen
3,alleestrasse 1,2020-09-02,11:06:05 AM,chenopodium album agg.,chénopode blanc
4,alleestrasse 1,2020-09-02,11:05:18 AM,centaurea jacea agg.,centaurée jacée

In [6]:
c.iloc[:5]

        lon  Lattitude                                              place
0  7.253285  47.138823                                             Jura 2
1  7.252867  47.137585                                           Salome 3
2  7.252760  47.137273                                           Salome 4
3  7.252618  47.136619  Alleestrasse 4\n7.2612098,47.1431642,Energie 1...
4  7.268255  47.153190           Boujean 2\n7.2673794,47.1463868,Bluets 2

In [7]:
# the place variable does not match in the data frames
# df['text'].str.split('::').str[0]
c['place'] = c.place.str.split('\n').str[0]

# get rid of uppercase
c.place = c.place.str.lower()
b.place = b.place.str.lower()

# get rid of spaces
c.place = c.place.map(lambda x:  x.replace(" ","-"))
b.place = b.place.map(lambda x:  x.replace(" ","-"))

In [8]:
# find place names that don't match:
a_locs = a.place.unique()
b_locs = b.place.unique()
c_locs = c.place.unique()

# get the symetric difference between the different place name lists
placenames = list(set(c_locs) | set(b_locs))
intersect_placenames = list(set(c_locs) & set(b_locs))
print(F"There are {len(placenames)} different place names\n")
print(F"\nThere are {len(b_locs)} different names in b\n")
print(F"\nThere are {len(c_locs)} different names in c\n")
print(F"\nThere are {len(intersect_placenames)} shared between b and c")

There are 116 different place names


There are 115 different names in b


There are 45 different names in c


There are 44 shared between b and c

In [9]:
print(F"The shared place names:\n\n{intersect_placenames}")

The shared place names:

['cff-path-3', 'boujean-2', 'schlosslifeld-2', 'cff-lot-2', 'gottstatt-1', 'cygnes-lot-2', 'cygnes', 'football-4', 'football-6', 'frinvilier-fabrique-3', 'taubenloch-1', 'schussinsel-2', 'twann-estuary', 'lezard-2', 'lucherz-seestrasse', 'jura-2', 'alleestrasse-4', 'boujean-3', 'energie-3', 'frinvilier-fabrique-2', 'cygnes-lot-4', 'football-3', 'buren-2', 'pieterlen-stockweg', 'sundgraben-beach', 'frinvillier-ramp', 'bluets-1', 'schussinsel-3', 'rondchatel', 'cygnes-lot-7', 'football-5', 'salome-3', 'football-1', 'schussinsel-5', 'cheyres-reserve', 'sundgraben-forest-left', 'chapelle', 'lucherz-bureli', 'ligerz-favorite', 'football-2', 'salome-4', 'frinvillier-fabrique-1', 'rue-centrale', 'alleestrasse-2']

In [10]:
# places in b that do not mathc c:
b_no_match = [x for x in b_locs if x not in c_locs]
b_no_match

['alleestrasse-1',
 'alleestrasse-3',
 'bluets-2',
 'bluets-3',
 'boujean-1',
 'buren-1',
 'buren-3',
 'cff-lot-1',
 'cff-path-1',
 'cff-path-2',
 'chemin-de-la-course',
 'chemin-des-voies',
 'cheyres-path',
 'college',
 'cygnes-lot-1',
 'cygnes-lot-3',
 'cygnes-lot-5',
 'cygnes-lot-6',
 'cygnes-lot-8',
 'dam',
 'energie-1',
 'energie-2',
 'frinvilier-fabrique-1',
 'frinvilier-fabrique-4',
 'frinvillier-fabrique-2',
 'frinvillier-fabrique-4',
 'gottstatt-2',
 'gottstatt-3',
 'hayek-1',
 'jura-1',
 'lezard-1',
 'orvin-petit-moulin',
 'pery-taubenlochweg',
 'reichenbach',
 'rue-alfred-aebi',
 'rue-de-l’eau-1',
 'rue-de-l’eau-2',
 'rue-de-l’eau-3',
 'rue-de-l’eau-4',
 'rue-de-l’eau-5',
 'saint-ursanne-falls',
 'salome-1',
 'salome-2',
 'salome-5',
 'schlosslifeld-1',
 'schlosslifeld-3',
 'schlosslistrasse',
 'schusinsel-3',
 'schussinsel-1',
 'schussinsel-4',
 'schussinsel-6',
 'sonnenfeld-1',
 'sonnenfeld-2',
 'strom',
 'sundgraben-bridge-left',
 'sundgraben-forest-right',
 'sundgraben-gorge',
 'sundgraben-port',
 'sureaux',
 'parc-muni',
 'swatch-1',
 'swatch-2',
 'taubenloch-2',
 'transjurane-tunnel',
 'truite-1',
 'truite-2',
 'truite-3',
 'truite-4',
 'truite-5',
 'twann-gorges',
 'weissenau']

Clean 2020 data set and reference files

In [11]:
data2020 = utility.removelistreturns(data2020)
floralist = utility.removelistreturns(floralist)
data2020 = utility.makenestedlist(data2020)
floralist = utility.makenestedlist(floralist)
data2020 = utility.arrange2020data(data2020)
floralist = utility.arrangeflorahelveticadata(floralist)
data2020[3] = utility.removenameendings(data2020[3])
data2020 = utility.fixscinames(data2020)
data2020 = utility.fixdate(data2020)
data2020 = utility.fixtime(data2020)

NameError: name 'utility' is not defined

Initial data analysis

In [ ]:
#total number of different values for each variable in data.
occurencesummary = utility.occurencelists(data2020)
print(occurencesummary[3])
newfile = open("occurencesummary.txt", 'w')
newfile.write(occurencesummary)
newfile.close()
comparison = utility.compared(occurencesummary[3][1], floralist[9])
print(comparison)