trial and draft file

import statements

In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

load the data files

In [2]:
here = os.getcwd()

#loads gps-location name correspondance file
afilename = here+"/data/2020/map-keys-2020.csv"
places = pd.read_csv(afilename)

#loads species data set
afilename = here+"/data/2020/species2020_full.csv"
samples = pd.read_csv(afilename)

general data

In [3]:
samples.describe()

          place        date          species             name             slug
count       935         935              935              671              935
unique      111          65              232              190              232
top     buren-2  2020-09-02  erigeron annuus  trèfle des prés  erigeron-annuus
freq         27          55               35               27               35

date data

In [4]:
#check date data for missing values and converts to strptime format.
def check_dates(x):
    try:
        data = dt.datetime.strptime(x, "%Y-%m-%d")
    except:
        data = 'no date'
    return data

samples['date_stamp'] = samples['date'].map(lambda x: check_dates(x))
samples.sort_values('date', ascending = True)
samples['month'] = samples.date_stamp.dt.month


#basic date statistics
first_date = samples.date.min()
last_date = samples.date.max()
mode_date = samples.date.mode() #highest number of species identified on this day.
#number of locations per date (not the number of species identified)
#access lists of species by date / by month

print(mode_date)
print(samples.date.describe())
print(samples.month.describe())
print("the unique months are:")
print(samples.month.unique())

0    2020-09-02
dtype: object
count            935
unique            65
top       2020-09-02
freq              55
Name: date, dtype: object
count    935.000000
mean       7.898396
std        0.901668
min        6.000000
25%        7.000000
50%        8.000000
75%        9.000000
max        9.000000
Name: month, dtype: float64
the unique months are:
[9 7 6 8]

Species data

In [5]:
samples.species.describe()
type(samples.species)

pandas.core.series.Series

location data

In [6]:
samples.place.describe()
#identify locations with 2 plants or fewer identified

count         935
unique        111
top       buren-2
freq           27
Name: place, dtype: object