In [1]:
#import statements
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import datetime as dt
import math
import json

here = os.getcwd()
flora_h = F"{here}/resources/reference-data/"
flora_h_ws = F"{flora_h}atlasws/"
flora_h_55 = F"{flora_h}atlas5x5/"
data_2020 = F"{here}/resources/survey-data/"

## Harmonize taxonomy and aggregate results from different data sources

The data for the observations is collected by different groups and aggregated at different geographic scales. Here all the data is categorized by *genus-species*, the subspcieces are accounted for and the survey results froom 2020 are harmonized with the prior observations.

In [2]:
pd.read_csv("resources/survey-data/map-keys-with-ws.csv")

          lon        lat            place     ws
0    7.253285  47.138823           jura-2  ws151
1    7.791570  46.685610  sundgraben-port  ws572
2    7.252867  47.137585         salome-3  ws151
3    7.252760  47.137273         salome-4  ws151
4    7.252618  47.136619   alleestrasse-4  ws151
..        ...        ...              ...    ...
99   7.268442  47.153054          buren-2  ws154
100  7.270980  47.148783         lezard-2  ws151
101  7.254484  47.141870        parc-muni  ws151
102  7.264776  47.155455     taubenloch-1  ws151
103  7.264843  47.157319     taubenloch-2  ws154

[104 rows x 4 columns]

In [6]:
my_data_methods = {"csv":pd.read_csv}

# organize the data sources into dicts one for each directory
d_files = {
    "surveys":"2020datasimp.csv",
    "map_keys":"map-keys-2020.csv",    
}

w_lists = {
    "list_2014":"BL_WL_2014_modified.csv",
    "under_sampled":"taxa_sous_echantillonnes.csv",
    "red_list":"CH-RLreg_Tracheophyta_2019.csv",
}

ws_lists ={
    "151":"AtlasWS_151_Biel.csv",
    "253":"AtlasWS_253_Bielersee.csv",
    "300":"AtlasWS_300_Aarberg.csv",
    "301":"AtlasWS_301_Bueren.csv",
    "154":"AtlasWS_154_Grenchen.csv",
    "572":"AtlasWS_572_Beatenberg.csv",
    "573":"AtlasWS_573_Interlaken.csv"   
}

fx_lists = {
    "585215":"Atlas5x5_585_215.csv",
    "585220":"Atlas5x5_585_220.csv",
    "580220":"Atlas5x5_580_220.csv",
    "580215":"Atlas5x5_580_215.csv"
}

# convenience method to gather up all these files:
def get_the_data(file_exts, a_dir, methods, this_method="csv", myencoding=None):
    wiw = {}
    for k,v in file_exts.items():
        if myencoding == None:
            wiw.update({k:methods[this_method](F"{a_dir}{v}")})            
        else:
            wiw.update({k:methods[this_method](F"{a_dir}{v}",sep = ";", encoding=myencoding)})
            
    return wiw

# convenience method to make slugs
def change_species(x):
    # make a slug
    try: 
        int_data = x.split()
        data = int_data[:2]
        data = "-".join(data)
        data = data.lower()
    except:
        data = "none"
    return data


data_and_keys = get_the_data(d_files, data_2020, my_data_methods, this_method="csv")
watch_lists = get_the_data(w_lists, flora_h, my_data_methods, this_method="csv")
welt_sut =  get_the_data(ws_lists, flora_h_ws, my_data_methods, this_method="csv", myencoding = "utf-16" )
fivex =  get_the_data(fx_lists, flora_h_55, my_data_methods, this_method="csv", myencoding = "utf-16")

# housekeeping: make sure that each data set has the column "species", with the value species:
watch_lists["list_2014"]["species"] = watch_lists["list_2014"].Latin
watch_lists["under_sampled"]["species"] = watch_lists["under_sampled"].taxon
watch_lists["red_list"]["species"] = watch_lists["red_list"].scientific_name

# housekeeping: fx_lists['585220'] has one record in one column of one row stored as a string
adf = fivex['585220'].copy()

# # housekeeping: watch_lists has a NaN value for the name of a watchlist
# x= watch_lists["list_2014"]['watch_lists'].fillna(0)


# get the string value, split it by the comma and make a dict
def make_this_a_dict(x, these_cols):
    return {these_cols[i]:j for i, j in enumerate(x.split(','))}

# make a column with that
adf['a_dict']=adf[adf.columns[0]].map(lambda x:make_this_a_dict(x, fivex['585215'].columns))

# make a dataframe with that column, replace the old data frame:
fivex['585220'] = pd.DataFrame(list(adf['a_dict'].values))

In [7]:
watch_lists["list_2014"]

,Latin,French,Jura,Plateau,Versant Nord des Alpes,Alpes centrales Ouest,Alpes centrales Est,Versant Sud des Alpes,non Ã©tabli en Suisse,1 Eau1 libres,...,Potentiel d'e1pansion,santÃ©,"Ã©cologie, biodiversitÃ©",Ã©conomie,"PrÃ¤ventionscharakter (hoch=1, mittel=2, gering=3)","Regionale Wichtigkeit (hoch=1, mittel=2, gering=3)","Lack List / Watch List ""old""",list_2014,Ordonnonce sur la dissÃ©mination des organismes (ODE),species
0,Abutilon theophrasti Medik.,Abutilon de ThÃ©ophraste,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,...,3,o,1,3.0,2,2,-,BL,-,Abutilon theophrasti Medik.
1,Ailanthus altissima (Mill.) Swingle,Ailante,2.0,3.0,1.0,2.0,1.0,3.0,NaN,NaN,...,3,1,2,2.0,3,3,BL,BL,-,Ailanthus altissima (Mill.) Swingle
2,Ambrosia artemisiifolia L.,Ambroisie Ã feuilles d'armoise,3.0,3.0,1.0,2.0,1.0,3.0,NaN,NaN,...,3,3,-1,3.0,3,2,BL,BL,ODE,Ambrosia artemisiifolia L.
3,Amorpha fruticosa L.,Amorphe buissonnante,1.0,-1.0,NaN,NaN,NaN,2.0,NaN,NaN,...,3,o,3,2.0,1,1,WL,BL,-,Amorpha fruticosa L.
4,Artemisia verlotiorum Lamotte,Armoise des frÃ¨res Verlot,2.0,3.0,2.0,2.0,1.0,3.0,NaN,NaN,...,3,1(?),2,2.0,3,3,BL,BL,-,Artemisia verlotiorum Lamotte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Symphoricarpos albus (L.) S. F. Blake,Symphorine blanche,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3 (?),1,2,1.0,1,3,-,WL,-,Symphoricarpos albus (L.) S. F. Blake
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,Info Flora 2014; Listes des espÃ¨ces e1otiques ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,Nomenclature actualisÃ©e 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# create a new column to hold a species 'slug'
for element in [fivex, welt_sut, watch_lists]:
    for the_data in element:
        element[the_data]['species_slug'] = 'none'

# make the species slug
for element in [fivex, welt_sut, watch_lists]:
    for the_data in element:
        element[the_data]['species_slug'] = element[the_data].species.map(lambda x: change_species(x))

# add a column to identify the map source:
for element in [fivex, welt_sut]:
    for the_data in element:
        element[the_data]['map'] = the_data
        element[the_data]['spec_map'] = list(zip(element[the_data].species_slug,element[the_data].map))
        
# add a column to identify watch list:
for element in [watch_lists]:
    for the_data in element:
        if the_data == "list_2014":
            element[the_data]['watch_list'] = element[the_data][the_data]
        else:
            element[the_data]['watch_list'] = the_data

In [9]:
fill_nans = watch_lists["list_2014"].copy()
fill_nans = fill_nans.fillna(0)

watch_lists.update({"list_2014":fill_nans[fill_nans.watch_list != 0]})

### Species name and observations: harmonizing taxonomy

The genus-species nomenclature will be used to group observations.

All observations will be classified according to that standard. As a result some subspecies will be folded in with the parent genus-species. This is a reflection of the survey method and the expectation of reasonable results, not a prioritization of importance. The complete list of genus species and subspecies is included at the end of this document.

In [ ]:
def account_for_subspecies(an_array, a_dict):
    for element in an_array:
        try:
            a_dict[element[0]].append(element[1])
        except:
            a_dict[element[0]] = [element[1]]
    return a_dict
a_dict ={}

for element in [fivex, welt_sut, watch_lists]:
    for label in element:
        # use this data frame
        som_data = element[label].copy()
        
        # group by species slug and count the number of unique species values
        c_s_p_s = som_data.groupby('species_slug', as_index=False).species.nunique()        
        
        # just the records with more than one species value
        m_t_one = c_s_p_s[c_s_p_s.species > 1].species_slug
        
        # pair the species_slug to the species name:
        mto = som_data.loc[som_data.species_slug.isin(m_t_one)][['species_slug', 'species']].copy().to_numpy()
        
        # update the dict
        account_for_subspecies(mto, a_dict)

# the species_slugs that account for more than one sub species
sub_species_accounted =  {k:list(set(v)) for k,v in a_dict.items()}

# the species_slugs
gs_parent = list(sub_species_accounted.keys())

# the number of species_slugs
number_of_gs = len(gs_parent)

# the the number of sub species accounted for
number_of_ss = sum([len(v) for k,v in sub_species_accounted.items()])

In [ ]:
print(F"\nThere are {number_of_gs} genus-species that account for {number_of_ss} sub-species. For example records with 'trifolium-incarnatum' include:\n\n{sub_species_accounted['trifolium-incarnatum']}\n")
print("In this specific example all records with the genus-species of 'trifolium-incarnatum' will be counted as the same, indifferent of the sub-species value.")

### Collect genus-species observations from each map set.

In [ ]:
# collect all the observations into one df
fx = pd.concat([v[['species_slug', 'map', 'spec_map']] for k,v in fivex.items()])
wsx = pd.concat([v[['species_slug', 'map', 'spec_map']] for k,v in welt_sut.items()])
f_w_obs = pd.concat([fx, wsx])

In [ ]:
# gather up the map names
m_ap_columns = f_w_obs.map.unique()

# create a column for each map, indicate
for col in m_ap_columns:    
    f_w_obs[col] = f_w_obs['map'] == col

obs_map =f_w_obs.groupby(['species_slug']).sum()

obs_map['maps'] = obs_map.index.map(lambda x: f_w_obs[f_w_obs.species_slug == x]['map'].unique())

#### The genus-species and the maps it was identified on:

In [ ]:
obs_map

In [ ]:
print(F"\nFor example 'abies-alba' was identified in the following maps:\n\n{obs_map.loc['abies-alba']['maps']}\n")

In [ ]:
print(F"\nBack to the trifolium example:\n")
print("Not all subspecies were idenitfied on all the maps\n")
obs_map.loc['trifolium-incarnatum']

In [ ]:
#exports the dictionary to a .json file
nt = obs_map['maps'].to_dict()

ntx = {k:list(v) for k,v in nt.items()}

with open(F"{here}/output/ws_list.json","w") as afile:
    json.dump(ntx,afile)
    
print(F"\nWhich maps 'trifolium-incarnatum' were found in? indifferent of subspecies?:\n\n{ntx['trifolium-incarnatum']}\n")

### Key the watch lists to genus-species

Identify which species are on which watch list. Produce a boolean matrix with species_slug as index and watch list name for the columns.

In [ ]:
the_lists = list(watch_lists.keys())

In [ ]:
the_lists = list(watch_lists.keys())

keep = []

for element in the_lists:
    a = watch_lists[element][['species_slug','watch_list']]
    keep.append(a)
wl_species = pd.concat(keep)
m_ap_columns = wl_species.watch_list.unique()

for col in m_ap_columns:    
    wl_species[col] = wl_species['watch_list'] == col

wl_sp_map =wl_species.groupby(['species_slug']).sum()

wl_sp_map['lists'] = wl_sp_map.index.map(lambda x: wl_species[wl_species.species_slug == x]['watch_list'].unique())

In [ ]:
wl_sp_map.head()

In [ ]:
print("\nThe list of genus-species that appear in the black list and gbif:\n\n")

wl_sp_map[(wl_sp_map.BL >0)&(wl_sp_map.red_list >0)]

In [ ]:
nt = wl_sp_map['lists'].to_dict()

ntx = {k:list(v) for k,v in nt.items()}

with open(F"{here}/output/flora_list.json","w") as afile:
    json.dump(ntx,afile)
wl_sp_map.to_csv(F"{here}/output/aggregated_list.csv",index=True)

### Taxonomy of 2020 hd samples

In [25]:
#correct wrong species name inputs in the samples data
#samples list
samples = data_and_keys['surveys'].copy()
replacedict = {
    'verbanum bonariensis ':'verbena bonariensis',
    'medicago varia':'medicago sativa',
    "oenothera":"oenothera biennis",
    "geranium pratens":"geranium pratense",
    "senecio jacobaea": "jacobaea vulgaris",
    "oenothera biennis ": "oenothera biennis",
    "oenothera biennis agg.": "oenothera biennis",
    "solidalgo canadensis": "solidago canadensis",
    "verbascum lynchitis":"verbascum lychnitis",
    "verbascum negris":"verbascum nigrum",
    "securigea varia": "securigera varia",
    "melilotus officianalis": "melilotus officinalis",
    "knautia maxima": "knautia dipsacifolia",
    "hieracium aurantiacum":"pilosella aurantiaca",
    "sysimbrium officinale":"sisymbrium officinale",
    "geranium robertanium":"geranium robertianum",
    "mycelis muralis": "lactuca muralis",
    "calamintha-nepeta":"clinopodium nepeta",
    "polygonum-persicaria":"persicaria maculosa",
    "sorbus-aria":"aria edulis",
    "taraxacum": "taraxacum officinale"
}
def new_func(x,keys):
    try:
        data = keys[x]
    except:
        data = x
    return data
samples["species2"] = samples.sci.map(lambda x: new_func(x, replacedict))
samples["species_slug"] = samples.species2.map(lambda x: change_species(x))

data_and_keys.update({'surveys':samples})

In [26]:
#correct incorrectly formatted date inputs in the sample dataset
def change_string(x):
    try:
        s_data = x.split('.')
        data = s_data[::-1]
        data = "-".join(data)
    except:
        print("no luck")
        data = x
    
    return data
samples['new_date'] = samples.date.map(lambda x: change_string(x))


def make_timestamp(x):
    try:        
        data = dt.datetime.strptime(x, "%Y-%m-%d")        
    except:        
        data = 'no luck'
    
    return data
# samples['check_date'] = samples.new_date.map(lambda x: make_timestamp(x))
samples['date'] = samples.new_date

print(F"\nThese are the records in 'a' with no valid date:\n\n{samples[samples.date == 'no luck']}\n")

These are the records in 'a' with no valid date:

Empty DataFrame
Columns: [place, date, time, sci, name, species2, species_slug, new_date]
Index: []

In [27]:
d=data_and_keys['surveys'].copy()
d['loc_date'] = list(zip(d.place, d.date))
slugs_2020 = d.species_slug.unique()


a_name =  slugs_2020[12]
one_slug = d[d.species_slug == a_name].copy()

maps_and_lists = pd.concat([obs_map.loc[a_name],wl_sp_map.loc[a_name]])
maps_and_lists

585215                                                           2
585220                                                           2
580220                                                           3
580215                                                           2
151                                                              3
253                                                              1
300                                                              2
301                                                              3
154                                                              3
572                                                              2
573                                                              3
maps             [585215, 585220, 580220, 580215, 151, 253, 300...
BL                                                               0
WL                                                               0
under_sampled                                                    0
red_list                                                         2
lists                                                   [red_list]
Name: achillea-millefolium, dtype: object

In [28]:
obs_map.loc[a_name][:-1].sum()

26

In [29]:
dname = d[d.species_slug == a_name]
dname.loc_date

15              (alleestrasse 3, 2020-06-16)
25              (alleestrasse 4, 2020-06-16)
208        (chemin de la course, 2020-08-30)
329                  (energie 1, 2020-06-16)
411                (gottstatt 3, 2020-08-24)
487                 (rondchatel, 2020-09-22)
507              (rue de leau 1, 2020-08-23)
539              (rue de leau 4, 2020-08-17)
551              (rue de leau 5, 2020-08-18)
605           (schlosslistrasse, 2020-06-18)
708     (sundgraben bridge left, 2020-09-05)
729    (sundgraben forest right, 2020-09-13)
762                    (sureaux, 2020-08-09)
Name: loc_date, dtype: object

In [30]:
len(dname)/len(d)

0.013903743315508022

In [31]:
len(f_w_obs[f_w_obs.species_slug == a_name])/len(f_w_obs)

0.002009894867037724

In [32]:
#sample place columns

#makes place slug in new column "place1" for the locations with more than one word.
def change_place(x):
    data = x.split(" ")
    data = "-".join(data)
    return data
samples["place1"] = samples.place.map(lambda x: change_place(x))

In [33]:
samples.head()

,place,date,time,sci,name,species2,species_slug,new_date,place1
0,alleestrasse 1,2020-09-02,11:09:04 AM,plantago lanceolata,plantain lancÃ©olÃ©,plantago lanceolata,plantago-lanceolata,2020-09-02,alleestrasse-1
1,alleestrasse 1,2020-09-02,11:08:19 AM,centaurea nigra,centaurÃ©e noire,centaurea nigra,centaurea-nigra,2020-09-02,alleestrasse-1
2,alleestrasse 1,2020-09-02,11:06:59 AM,plantago media,plantain moyen,plantago media,plantago-media,2020-09-02,alleestrasse-1
3,alleestrasse 1,2020-09-02,11:06:05 AM,chenopodium album agg.,chÃ©nopode blanc,chenopodium album agg.,chenopodium-album,2020-09-02,alleestrasse-1
4,alleestrasse 1,2020-09-02,11:05:18 AM,centaurea jacea agg.,centaurÃ©e jacÃ©e,centaurea jacea agg.,centaurea-jacea,2020-09-02,alleestrasse-1

In [34]:
re_name = {'sci': 'genus_species', 'place1':'place_slug'}
samples.rename(columns=re_name, inplace=True)
samples.drop(['species2', 'date'] , inplace=True, axis=1)
samples.rename(columns={'new_date':'date'}, inplace=True)

In [35]:
samples = samples[['place', 'date', 'genus_species', 'time', 'species_slug', 'place_slug' ]].copy()
samples.to_csv(F"output/mostrecent/hd_samples_2020.csv", index=False)